/* Container */
.movie {
	background-color: lightblue;
}

/* Image styling as per instruction */
.moviePic {
	height: 300px;
	width: 100%;
	opacity: 0.8;
}

/* Movie description styling as per instruction */
.movieDetail {
	position: relative;
	top: 10px;
	width: 80%;
	text-align: center;
	font-size: 18px;
}
